extends ../layout

block content
  .page-header
    h3 Schedule

  each day in schedule
    div(class='row')
      h4(class='col-sm-12') Day: #{day.day}
    each event in day.events
      div(class='row')
        h5(class='col-sm-2 control-label') Name:
        h6(class='col-sm-2') #{event.name}
        h5(class='col-sm-2 control-label') Start Time:
        h6(class='col-sm-2') #{event.time}
        h5(class='col-sm-2 control-label') End Time:
        h6(class='col-sm-2') #{event.endtime}
      div(class='row')
        h5(class='col-sm-2 control-label') Description:
        h6(class='col-sm-10') #{event.description}
      div(class='row')
        h5(class='col-sm-2 control-label') URL:
        h6(class='col-sm-10') #{event.url}
        
  .page-header
    h3 Add Event

  form.form-horizontal(role='form', method='POST')
    input(type='hidden', name='_csrf', value=token)
    .form-group
      label(class='col-sm-2 control-label', for='name') Name
      .col-sm-8
        input.form-control(type='text', name='name', id='name')
    .form-group
      label(class='col-sm-2 control-label', for='description') Description
      .col-sm-8
        textarea.form-control(type='text', name='description', id='description', rows='3')
    .form-group
      label(class='col-sm-2 control-label', for='day') Day
      .col-sm-2
        input.form-control(type='text', name='day', id='day')
    .form-group
      label(class='col-sm-2 control-label', for='time') Start Time
      .col-sm-2
        input.form-control(type='text', name='time', id='time')
    .form-group
      label(class='col-sm-2 control-label', for='time') End Time
      .col-sm-2
        input.form-control(type='text', name='endtime', id='endtime')
    .form-group
      label(class='col-sm-2 control-label', for='url') URL
      .col-sm-8
        input.form-control(type='text', name='url', id='url', rows='7')
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-default(type='submit')
          i.fa.fa-mail-forward
          | Add
