extends ../layout

block content
  .page-header
    h3 Update Schedule

  each day in schedule
    span(class='col-sm-10 control-label') #{day.day}
    each event in day
      span(class='col-sm-6 control-label') #{event.name}
      span(class='col-sm-2 control-label') #{event.time}
      span(class='col-sm-4 control-label') #{event.endtime}
      span(class='col-sm-10 control-label') #{event.description}
      span(class='col-sm-10 control-label') #{event.url}

  form.form-horizontal(role='form', method='POST')
    input(type='hidden', name='_csrf', value=token)
    .form-group
      label(class='col-sm-2 control-label', for='name') Name
      .col-sm-8
        input.form-control(type='text', name='name', id='name')
    .form-group
      label(class='col-sm-2 control-label', for='description') Description
      .col-sm-8
        textarea.form-control(type='text', name='description', id='description', rows='3')
    .form-group
      label(class='col-sm-2 control-label', for='day') Day
      .col-sm-8
        input.form-control(type='text', name='day', id='day')
    .form-group
      label(class='col-sm-2 control-label', for='time') Start Time
      .col-sm-8
        input.form-control(type='text', name='time', id='time')
    .form-group
      label(class='col-sm-2 control-label', for='time') End Time
      .col-sm-8
        input.form-control(type='text', name='endtime', id='endtime')
    .form-group
      label(class='col-sm-2 control-label', for='url') URL
      .col-sm-8
        textarea.form-control(type='text', name='url', id='url', rows='7')
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-default(type='submit')
          i.fa.fa-mail-forward
          | Add
