extends ../layout

block content
  .page-header
    h3 Sponsors

  each tier, t in sponsor
    div(class='row')
      h4(class='col-sm-12') Tier: #{t}
    each company in tier
      div(class='row')
        div(class='col-sm-3')
          img(class='sponsor-log' src='#{company.logourl}')
          h5(class='sponsor-name') #{company.name}
          h6(class='sponsor-desc') #{company.description}
        div(class='col-sm-9')
          each rep in company.reps
            div(class='sponsor-rep')
              h5(class='rep-name') #{rep.name}:
              h6(class='rep-desc') #{rep.description}
              a(href="mailto:#{rep.email}")
                h6 Email
              a(href="http://twitter.com/#{rep.twitter}")
                h6 Twitter  

  .page-header
    h3 Add Sponsor

  form.form-horizontal(role='form', method='POST')
    input(type='hidden', name='_csrf', value=token)
    .form-group
      label(class='col-sm-2 control-label', for='name') Name
      .col-sm-4
        input.form-control(type='text', name='name', id='name')
      label(class='col-sm-2 control-label', for='tier') Tier
      .col-sm-2
        input.form-control(type='number', name='tier', id='tier')
    .form-group
      label(class='col-sm-2 control-label', for='description') Description
      .col-sm-8
        textarea.form-control(type='text', name='description', id='description', rows='3')
    .form-group
      label(class='col-sm-2 control-label', for='url') Sponsor URL
      .col-sm-8
        input.form-control(type='text', name='url', id='url')
    .form-group
      label(class='col-sm-2 control-label', for='logourl') Logo URL
      .col-sm-8
        input.form-control(type='text', name='logourl', id='logourl')
    .form-group
      label(class='col-sm-2 control-label', for='repname') Rep Name
      .col-sm-4
        input.form-control(type='text', name='repname', id='repname')
    .form-group
      label(class='col-sm-2 control-label', for='repdescription') Rep Description
      .col-sm-8
        textarea.form-control(type='text', name='repdescription', id='repdescription', rows='3')
    .form-group
      label(class='col-sm-2 control-label', for='repemail') Rep Email
      .col-sm-3
        input.form-control(type='text', name='repemail', id='repemail')
      label(class='col-sm-2 control-label', for='reptwitter') Rep Twitter
      .col-sm-3
        input.form-control(type='text', name='reptwitter', id='reptwitter')
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-default(type='submit')
          i.fa.fa-mail-forward
          | Add

  .page-header
    h3 Add Sponsor Representative

  form.form-horizontal(role='form', method='POST')
    input(type='hidden', name='_csrf', value=token)
    .form-group
      label(class='col-sm-2 control-label', for='name') Sponsor Name
      .col-sm-4
        input.form-control(type='text', name='name', id='name')
    .form-group
      label(class='col-sm-2 control-label', for='repname') Rep Name
      .col-sm-4
        input.form-control(type='text', name='repname', id='repname')
    .form-group
      label(class='col-sm-2 control-label', for='repdescription') Rep Description
      .col-sm-8
        textarea.form-control(type='text', name='repdescription', id='repdescription', rows='3')
    .form-group
      label(class='col-sm-2 control-label', for='repemail') Rep Email
      .col-sm-3
        input.form-control(type='text', name='repemail', id='repemail')
      label(class='col-sm-2 control-label', for='reptwitter') Rep Twitter
      .col-sm-3
        input.form-control(type='text', name='reptwitter', id='reptwitter')
    .form-group
      .col-sm-offset-2.col-sm-8
        button.btn.btn-default(type='submit')
          i.fa.fa-mail-forward
          | Add
